[Unit]
Description=Leap Lifx
# Requires=After=leapd.service

[Service]
ExecStart=/opt/leap-lifx
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=leap-lifx
Environment=NODE_ENV=production PORT=5000

[Install]
WantedBy=multi-user.target
